@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/**************Definición de variables de color para el Header**************/
:root {
    --header-bg-color: #202027;
    --header-text-color: #ffffff;
    --header-title-color: #f5f5dc;
    --header-title-bg-color: #161611;
    --buscador-color: #f0e9e3;
    --buscador-texto-color: #9f9fa0;
}

[data-theme="dark"] {
    --header-bg-color: #36363a;
    --header-text-color: #ffffff;
    --header-title-color: #f5f5dc;
    --header-title-bg-color: #36363a;
    --buscador-color: #f0e9e3;
    --buscador-texto-color: #9f9fa0;
}

.containerHeader {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--header-bg-color);
}

.containerBuscador {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
}

.buscador {
    align-items: center;
    height: 100%;
    width: 75%;
    padding-left: 15px;
    background-color: var(--buscador-color);
    border-radius: 25px;
}

.textoBuscador{
    color: var(--buscador-texto-color);
}

.containerTitle {
    height: 48%;
    width: 100%;
    background-color: var(--header-title-bg-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.containerTitle h1 {
    color: var(--header-title-color);
    font-family: 'Aladin', sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
}

.lineDivision{
    align-self: center;
    margin-top: 0.5%;
    margin-bottom: 0%;
    width: 98%;
    height: 1%;
    border-radius: 2%;
}
