@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.containerTitle {
    height: 48%;
    width: 100%;
    background-color: #1d0834;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.containerTitle h1 {
    color: #FFF;
    font-family: 'Aladin', sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
}

.lineDivision{
    align-self: center;
    margin-top: 0.5%;
    margin-bottom: 0%;
    width: 98%;
    height: 1%;
    background-color: #fff;
    border-radius: 2%;
}
