.mainModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
    background-color: var(--main-bg-color);
    border: 1px solid var(--text-color);
    padding: 20px;
    z-index: 9999;
    display: grid;
    align-items: center;
}

.mainModal h2 {
    text-align: center;
    color: #E67E22;
    margin-bottom: 20px;
}

.mainModal hr {
    width: 80%;
    height: 1px;
    align-self: center;
    background-color: var(--text-color);
    border: none;
    margin-bottom: 20px;
}

.labelCampo {
    color: var(--text-color);
    display: block;
    margin-bottom: 10px;
}

.campoImput {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #000;
}

.btnCancelar {
    background-color: #E67E22;
    color: var(--text-color);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.btnCrear {
    background-color: #0dad43;
    color: var(--text-color);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
