/**************Definición de variables de color para el Paginado**************/
:root {
    --header-bg-color: #202027;
    --paginado-bg-color: #36363a;
    --paginado-text-color: #f5f5dc;
    --paginado-text-color-des: #16161d;
}

[data-theme="dark"] {
    --header-bg-color: #36363a;
    --paginado-bg-color: #f5f5dc;
    --paginado-text-color: #16161d;
    --paginado-text-color-des: #ebebeb;
}

/**************Paginado**************/
.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Espaciado superior e inferior */
}

.pagination {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
}

.page-item {
    margin: 0 5px; /* Espaciado entre los ítems */
}

.page-link {
    display: inline-block;
    padding: 10px 15px; /* Espaciado interno */
    border: none;
    border-radius: 15px;
    color: #007bff; /* Color del texto */
    background-color: white; /* Color de fondo */
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

.page-link:hover {
    background-color: #ffd000; /* Color de fondo al pasar el mouse */
    color: white; /* Color del texto al pasar el mouse */
}

.page-item.disabled .page-link {
    color: var(--paginado-text-color-des); /* Color del texto para ítems deshabilitados */
    background-color: transparent; /* Color de fondo para ítems deshabilitados */
    pointer-events: none; /* Deshabilita el evento de clic */
}

.page-item.active .page-link {
    background-color: var(--paginado-bg-color); /* Color de fondo para el ítem activo */
    color: var(--paginado-text-color); /* Color del texto para el ítem activo */
}
